@import '../components/mixins';
@import '../custom';


 .btn-rounded{
@media (max-width: 576px) {
display: none;
  }
  position: relative;
  padding: 4px 45px 4px 8px;
  font-weight: 500;
  margin: 0px;
  border: 1px solid rgba( $white,  0.6);
  background-color:  $white;
  span{
    position: absolute;
    background-image: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
    width: 25px;
    height: 25px;
    top: 50%;
    right: 5%;
  transform: translateY(-50%);
  border-radius: 50%;
  i{
    font-size: 18px;
    font-weight: bold;
    z-index: 200;
  }
  }
  &:hover{
    @include gradient;
    color: $white;
  }
}
