<hr>
<section id="portfolio" class="portfolio">

  <div class="container-fluid align-content-center mt-3">
    <div class="row  text-center text-capitalize mt-5 ">
      <h1 class="fw-bolder  text-primary  ">portfolio works</h1>
      <div class=" heading-line"></div>
      <p class=" fw-lighter pt-4 mt-5">Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Magnam nesciunt nisi earum?</p>
    </div>

    <div class="row text-center">
      <div class="col-md-12 fw-bold g-3 pb-4 pt-4">

        <button type="button"
          class="w-10 btn btn-sm btn-outline-info shadow mx-2 bg-info text-light  fw-bold px-2 my-2">all</button>

        <button type="button"
          class="w-10 btn btn-sm btn-outline-info shadow mx-2  bg-info text-light fw-bold">Design</button>

        <button type="button"
          class="w-10 btn btn-sm btn-outline-info shadow mx-2  bg-info text-light  fw-bold ">websites</button>

        <button type="button"
          class="w-10 btn btn-sm btn-outline-info shadow  mx-2  bg-info text-light  fw-bold">mockup</button>
      </div>
    </div>





    <!--------portfolio item----------->
    <div class="row   align-items-center">
      <!--------portfolio item --1----------->
      <div class=" col-sm-12  col-md-6  col-lg-4  ">
        <div class="portfolio-box shadow">
          <img src="../../assets/imegs/istockphoto-1287829991-612x612.jpg" alt="" class=" img-fluid">
          <div class="portfolio-info  ">
            <div class=" caption">
              <h4>project name</h4>
              <p> project name</p>
            </div>
          </div>
        </div>
      </div>
      <!--------portfolio item --2----------->
      <div class=" col-sm-12  col-md-6  col-lg-4">
        <div class="portfolio-box shadow">
          <img src="../../assets/imegs/istockphoto-1295900106-612x612.jpg" alt="" class=" img-fluid">
          <div class="portfolio-info  ">
            <div class=" caption text-capitalize">
              <h4>project name</h4>
              <p> project portfolio</p>
            </div>
          </div>
        </div>
      </div>

      <!--------portfolio item --3----------->
      <div class=" col-sm-12  col-md-6  col-lg-4 ">
        <div class="portfolio-box shadow">
          <img src="../../assets/imegs/istockphoto-1321448197-612x612.jpg" alt="" class=" img-fluid">
          <div class="portfolio-info  ">
            <div class=" caption">
              <h4>project name</h4>
              <p> project name</p>
            </div>
          </div>
        </div>
      </div>

      <!--------portfolio item --4----------->
      <div class=" col-sm-12  col-md-6  col-lg-4 ">
        <div class="portfolio-box shadow">
          <img src="../../assets/imegs/istockphoto-1422136178-612x612.jpg" alt="" class=" img-fluid">
          <div class="portfolio-info  ">
            <div class=" caption">
              <h4>project name</h4>
              <p> project name</p>
            </div>
          </div>
        </div>
      </div>

      <!--------portfolio item --5----------->
      <div class=" col-sm-12  col-md-6  col-lg-4 ">
        <div class="portfolio-box shadow">
          <img src="../../assets/imegs/istockphoto-1447095757-612x612.jpg" alt="" class=" img-fluid">
          <div class="portfolio-info  ">
            <div class=" caption">
              <h4>project name</h4>
              <p> project name</p>
            </div>
          </div>
        </div>
      </div>


      <!--------portfolio item --6----------->
      <div class=" col-sm-12  col-md-6  col-lg-4   ">
        <div class="portfolio-box shadow">
          <img src="../../assets/imegs/istockphoto-1321448197-612x612.jpg" alt="" class=" img-fluid">
          <div class="portfolio-info  ">
            <div class=" caption">
              <h4>project name</h4>
              <p> project name</p>
            </div>
          </div>
        </div>
      </div>


      <!--------portfolio item --7----------->
      <div class=" col-sm-12  col-md-6  col-lg-4  ">
        <div class="portfolio-box shadow">
          <img src="../../assets/imegs/istockphoto-1363379748-612x612.jpg" alt="" class=" img-fluid">
          <div class="portfolio-info  ">
            <div class=" caption">
              <h4>project name</h4>
              <p> project name</p>
            </div>
          </div>
        </div>
      </div>

      <!--------portfolio item --8----------->
      <div class=" col-sm-12  col-md-6  col-lg-4   ">
        <div class="portfolio-box shadow">
          <img src="../../assets/imegs/istockphoto-1287829991-612x612.jpg" alt="" class=" img-fluid">
          <div class="portfolio-info  ">
            <div class=" caption">
              <h4>project name</h4>
              <p> project name</p>
            </div>
          </div>
        </div>
      </div>
      <!--------portfolio item --9----------->
      <div class=" col-sm-12  col-md-6  col-lg-4    ">
        <div class="portfolio-box shadow">
          <img src="../../assets/imegs/istockphoto-1272278213-612x612.jpg" alt="" class=" img-fluid">
          <div class="portfolio-info  ">
            <div class=" caption">
              <h4>project name</h4>
              <p> project name</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>