<nav class="menu fixed-top  navbar navbar-expand-lg  shadow-lg">
  <div class="container">
    <a class="navbar-brand" href="#"><strong> hello world</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a id="home" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="nav-link">Home</a>
        </li>

        <li class="nav-item">
          <a id="Services" routerLink="/services" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="nav-link">Services</a>
        </li>

        <li class="nav-item">
          <a id="testimonilas" routerLink="/testimonilas" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="nav-link">testimonials</a>
        </li>


        <li class="nav-item">
          <a id="faq" routerLink="/faq" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link ">faq</a>
        </li>

        <li class="nav-item">
          <a id="contact" routerLink="/portfolio" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="nav-link">portfolio</a>
        </li>



        <li class="nav-item">
          <a id="contact" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="nav-link">contact</a>
        </li>
      </ul>
      <button type="button" class="rounded-pill  btn-rounded">button <span> <i class="bi bi-fire"></i> </span></button>
    </div>
  </div>
</nav>